[Unit]
Description=ble scan
After=network.target

[Timer]
OnCalendar=Mon *-*-* 17:00:00
Persistent=false
Unit=ble-scan.service

[Install]
WantedBy=timers.target
