[Unit]
Description=ble scan
After=network.target

[Timer]
OnBootSec=2min
OnUnitActiveSec=3min
Unit=ble-scan.service

[Install]
WantedBy=timers.target
